@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth !important;
  }
}

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.3rem;
}
::-webkit-scrollbar-thumb {
  background: #a8a8a8c2;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(226, 226, 226, 0.616);
}

::-webkit-scrollbar-track {
  background: #292929 /* Set the background color for the scrollbar track */;
}

.acitve {
  @apply text-yellow-500;
}

.my-container {
  @apply max-w-6xl mx-auto;
}

.acitve {
  @apply text-teal-500;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0.2rem;
  height: 0.3rem;
}
